.hero
	padding-top: 120px
	padding-bottom: 170px
	background: $bg-color url(../img/hero/hero-bg.jpg) no-repeat center top
	margin-top: 80px
	background-size: cover
	&__title
		font-size: 30px
		margin-bottom: 40px
	&__subtitle
		display: block
		margin-bottom: 67px
		font-size: 30px
		+bold
		color: #000
@media (max-width: 991px)
	.hero
		background-size: 100%
		background-position: top right